@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
:root {
  --transition: all 0.5s ease-in-out;
  --borderRadius: 5px;
  --backdropFilterBlur: blur(25px);
  --mainBackground: rgb(206, 206, 206);
  --backgroundColor: rgba(128, 128, 128, 0.216);
  --backgroundColor: rgba(255, 127, 221, 0.18);
  --backgroundColorLighter: rgba(255, 127, 221, 0.045);
  --wordZindex: 1000;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: var(--mainBackground);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  cursor: crosshair;
}

form#scrapeForm {
  position: fixed;
  left: 0;
  bottom: 2%;
  z-index: 2;
  display: grid;
  grid-template-columns: 8fr 1fr;
  gap: 10px;
  margin: 0 10px;
  width: calc(100% - 20px);
  transition: var(--transition);
}
@media screen and (max-width: 768px) {
  form#scrapeForm {
    gap: 5px;
  }
}
form#scrapeForm input {
  font-size: 3vw;
  background: transparent;
  border: none;
  -webkit-backdrop-filter: var(--backdropFilterBlur);
  backdrop-filter: var(--backdropFilterBlur);
  background-color: var(--backgroundColor);
  color: grey;
  padding-left: 10px;
  border-radius: var(--borderRadius);
  transition: var(--transition);
}
form#scrapeForm input:hover {
  background-color: var(--backgroundColorLighter);
}
form#scrapeForm input:focus {
  background-color: transparent;
}
form#scrapeForm input[type="text"] {
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 768px) {
  form#scrapeForm input {
    font-size: 6vw;
    background-color: var(--backgroundColor);
  }
}
form#scrapeForm button {
  font-size: 2vw;
  background: transparent;
  border: none;
  -webkit-backdrop-filter: var(--backdropFilterBlur);
  backdrop-filter: var(--backdropFilterBlur);
  background-color: var(--backgroundColor);
  color: grey;
  transition: var(--transition);
  font-family: "Roboto", sans-serif;
  border-radius: var(--borderRadius);
  transition: var(--transition);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  form#scrapeForm button {
    font-size: 3vw;
    padding-left: 5px;
    padding-right: 5px;
  }
}
form#scrapeForm button:hover {
  background-color: var(--backgroundColorLighter);
}
form#scrapeForm button:focus {
  background-color: rgba(128, 255, 0, 0.448);
  background-color: var(--backgroundColorLighter);
}

#transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--mainBackground);
  z-index: 1000;
  -webkit-animation: fadeOut 1s;
  animation: fadeOut 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#info {
  position: absolute;
  z-index: 2;
  font-size: 2vw;
  -webkit-backdrop-filter: var(--backdropFilterBlur);
  backdrop-filter: var(--backdropFilterBlur);
  background-color: var(--backgroundColor);
  color: grey;
  width: 50%;
  border-radius: var(--borderRadius);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1%;
}

#info a {
  color: grey;
  transition: var(--transition);
}

#info a:hover {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  #info {
    font-size: 5vw;
    width: 75%;
    /*  padding: 5px; */
  }
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: none;
  background-color: var(--backgroundColor);
  color: grey;
  -webkit-animation: fadeInOut 3s infinite;
  animation: fadeInOut 3s infinite;
  font-size: 2vw;
  border-radius: var(--borderRadius);
  pointer-events: none;
  padding-left: 0.5%;
  padding-right: 0.5%;
}
@media screen and (max-width: 768px) {
  #loader {
    font-size: 6vw;
  }
}

@-webkit-keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
#toggleOpenClose {
  z-index: 2;
  position: fixed;
  top: 1%;
  left: 1%;
  display: none;
  text-decoration: none;
  font-size: 2vw;
  background: transparent;
  border: none;
  -webkit-backdrop-filter: var(--backdropFilterBlur);
  backdrop-filter: var(--backdropFilterBlur);
  background-color: var(--backgroundColor);
  color: grey;
  transition: var(--transition);
  font-family: "Roboto", sans-serif;
  border-radius: var(--borderRadius);
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 768px) {
  #toggleOpenClose {
    font-size: 9vw;
    padding-left: 5px;
    padding-right: 5px;
  }
}
#toggleOpenClose:hover {
  background-color: var(--backgroundColorLighter);
}
#toggleOpenClose:focus {
  background-color: rgba(128, 255, 0, 0.448);
  background-color: var(--backgroundColorLighter);
}

#wordCountContainer {
  transition: var(--transition);
}

#wordsModeButton {
  display: none;
  text-decoration: none;
  font-size: 3vw;
  background: transparent;
  border: none;
  -webkit-backdrop-filter: var(--backdropFilterBlur);
  backdrop-filter: var(--backdropFilterBlur);
  background-color: var(--backgroundColor);
  color: grey;
  transition: var(--transition);
  font-family: "Roboto", sans-serif;
  border-radius: var(--borderRadius);
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}
#wordsModeButton:hover {
  background-color: var(--backgroundColorLighter);
}
#wordsModeButton:focus {
  background-color: rgba(128, 255, 0, 0.448);
  background-color: var(--backgroundColorLighter);
}
@media screen and (max-width: 768px) {
  #wordsModeButton {
    font-size: 9vw;
    padding-left: 5px;
    padding-right: 5px;
  }
}

#soundToggleButton {
  display: none;
  text-decoration: none;
  font-size: 3vw;
  background: transparent;
  border: none;
  -webkit-backdrop-filter: var(--backdropFilterBlur);
  backdrop-filter: var(--backdropFilterBlur);
  background-color: var(--backgroundColor);
  color: grey;
  transition: var(--transition);
  font-family: "Roboto", sans-serif;
  border-radius: var(--borderRadius);
  transition: var(--transition);
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}
@media screen and (max-width: 768px) {
  #soundToggleButton {
    font-size: 9vw;
    padding-left: 5px;
    padding-right: 5px;
  }
}
#soundToggleButton:hover {
  background-color: var(--backgroundColorLighter);
  text-decoration: line-through;
}
#soundToggleButton:focus {
  background-color: rgba(128, 255, 0, 0.448);
  background-color: var(--backgroundColorLighter);
}

#buttonsContainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 1%;
  left: 1%;
  z-index: 2;
}

#wordCountContainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 1%;
  right: 1%;
  z-index: 2;
}

#wordCount {
  font-size: 3vw;
  color: grey;
  -webkit-backdrop-filter: var(--backdropFilterBlur);
  backdrop-filter: var(--backdropFilterBlur);
  background-color: var(--backgroundColor);
  padding-left: 10px;
  padding-right: 10px;
  pointer-events: none;
  display: none;
  border-radius: var(--borderRadius);
  margin-left: 5px;
}
@media screen and (max-width: 768px) {
  #wordCount {
    font-size: 9vw;
  }
}

#wordFrequency {
  font-size: 3vw;
  color: grey;
  -webkit-backdrop-filter: var(--backdropFilterBlur);
  backdrop-filter: var(--backdropFilterBlur);
  background-color: var(--backgroundColor);
  padding-left: 10px;
  padding-right: 10px;
  pointer-events: none;
  display: none;
  border-radius: var(--borderRadius);
}
@media screen and (max-width: 768px) {
  #wordFrequency {
    font-size: 9vw;
  }
}

#words-container {
  /*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  overflow: hidden;
  /* align-items: flex-wrap;
  flex-direction: row; */
  /* display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px; */
  z-index: 1;
}
#words-container .word {
  width: auto;
  height: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  mix-blend-mode: difference;
  opacity: 0;
  transition: opacity 1s ease;
  padding-left: 0.5%;
  padding-right: 0.5%;
  border-radius: var(--borderRadius);
  background-color: var(--backgroundColor);
  color: chartreuse;
  color: grey;
}
#words-container .word:hover {
  color: rgb(55, 55, 55);
  color: chartreuse;
}
#words-container .word-sorted {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  mix-blend-mode: difference;
  opacity: 0;
  transition: opacity 1s ease;
  padding-left: 0.5%;
  padding-right: 0.5%;
  margin: 0.5%;
  border-radius: var(--borderRadius);
  background-color: var(--backgroundColor);
  color: chartreuse;
  color: grey;
}
#words-container .word-sorted:hover {
  color: rgb(55, 55, 55);
  color: chartreuse;
}
#words-container .picture {
  position: absolute;
  max-width: 25vw;
  mix-blend-mode: luminosity;
  opacity: 0;
  transition: opacity 1s ease;
}

.draggable {
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
} /*# sourceMappingURL=style.css.map */
